<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.raktdaan">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/donation"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaktDaan">
        <activity android:name=".your_requests"></activity>
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".requests" />
        <activity android:name=".registration" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>